@charset "utf-8";

/* 文字色 */
*, *::before, *::after {
    color: #222;
}
a {
    color: #06c;
}
.patterns-list a {
    color: inherit;
}

.intro-and-nav {
    border-right: 1px solid #bec0c0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #bec0c0;
    box-shadow: 0 0 1px rgba(34,34,34,.08);
}

.patterns-list li + li {
    border-top: 1px solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ced0d0;
}

/* ナビゲーションメニュー選択時の色 */
.pattern [aria-current] {
    background-color: #eef0f0;
}

/* フォント */
html h1, h2, h3, h4  {
    /* font-family: 'Segoe UI','Helvetica','Helvetica Neue','Arial',YuGothic,'Yu Gothic','メイリオ', Meiryo,sans-serif; */
    font-family: 'Helvetica Neue', 'Arial', 'YuGothic', 'Yu Gothic', '游ゴシック体', '游ゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'MS ゴシック', 'MS Gothic', 'sans-serif';
}
code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

html {
    font-size: calc(1em);
    line-height: 1.7;
}
p + p {
    margin-top: 1.5em;
}

.intro-and-nav {
    font-size: 1rem;
}
.main-and-footer > div {
    max-width: 60rem;
    padding: 50px;
}

@media screen and (max-width: 768px) {
    body a {
      hyphens: auto;
    }
    [role="banner"] {
        position: static;
        width: auto;
        height: auto;
    }
    .intro {
        text-align: center;
    }
    .intro-and-nav {
        border-right: none;
    }
    .intro-and-nav > div {
        padding: 1.5rem;
    }
    .main-and-footer {
        margin: 0;
    }
    main {
      min-height: auto;
    }
    #patterns-list {
      margin-top: 0.5rem;
      border: 1px solid;
    }
    .patterns h3 {
        font-size: 1.5rem;
        padding: 1.5rem 1rem 0.75rem;
    }
    .patterns li:not(.pattern) {
        margin-top: 0;
    }
    .patterns ul ul {
        margin: 0;
    }
    .patterns li {
        margin-top: 0;
    }
    .pattern {
        font-size: 1rem;
    }
    .pattern a {
        padding: 1rem;
    }
    .pattern [aria-current] {
        clip-path: none;
        padding: 1rem;
    }
    .pattern + .pattern {
        border-top: 1px solid;
        margin-top: 0;
    }
    #menu-button {
        display: block;
    }
    #patterns-list {
        display: none;
    }
    .toc-link {
      display: none;
    }
    [aria-expanded="true"] + #patterns-list {
        display: block;
    }
    code {
      word-break: break-all;
    }
}

@media screen and (max-width: 768px) {
    .main-and-footer > div {
        padding: 30px;
    }
    svg.link-icon {
        display: none;
    }
}
@media screen and (max-width: 414px) {
    .main-and-footer > div {
        padding: 12px;
    }
    li svg.bookmark {
        margin-right: 0;
    }
}

button {
    background: #fff;
}

input#search, button#menu-button {
    font-size: 1rem;
    border-width: 1px;
    border-radius: 1px;
}

button#menu-button {
    /* font-size: 1.25rem; */
    border-radius: 0.33em;
    font-family: inherit;
    /* background: #111; */
    /* color: #fefefe; */
    color: #111;
    /* padding: 0.75rem; */
    padding: 0.5rem;
    /* border: 0; */
    border: 1px solid #000;
    font-weight: bold;
}

.logo_img_only {
    width: 125px;
    display: inline-block;
    margin-right: 100px;
    animation: r1 3s linear infinite;
}
@keyframes r1 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tags li + li {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.date-and-tags {
    margin-top: 15px;
}
.created-icon, .updated-icon {
    margin: 0;
    vertical-align: middle;
}
.created-icon {
    height: 1em;
}
.updated-icon {
    height: 1.1em;
}

/* フッター */
[role="contentinfo"] img {
    height: 1rem;
    vertical-align: middle;
    margin-top: 0;
}
[role="contentinfo"] div {
    margin-bottom: 20px;
}

.dark-mode-bottun {
    font-size: 0.85rem;
    white-space: nowrap;
    margin-top: 0;
    position: absolute;
    top: -5px;
    right: 0;
}
[for="themer"] {
    background: #fff;
    border-radius: 0.33em;
    color: #111;
    padding: 0.25em 0.75em;
    margin: 0.5rem;
    border: 2px solid #111;
    user-select: none;
    cursor: pointer;
}
.title-and-dm-button {
    position: relative;
}
.title-and-dm-button > h1 {
    display: inline-block;
    margin-right: 7rem;
}

pre, nav.toc, pre[class*=language-] {
    background: #f4f6f6;
}

nav.toc * {
    color: #787c7b;
    list-style: none;
    margin-left: 0;
}

pre, .file-tree, nav.toc {
    border: none;
}

.token.punctuation {
    color: #666;
}
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: none;
}