button#menu-button {
    font-size: 1.25rem;
    border-radius: 0.33em;
    font-family: inherit;
    /* background: #111; */
    background: #fff;
    /* color: #fefefe; */
    color: #111;
    padding: 0.75rem;
    /* border: 0; */
    border: 2px solid #000;
}

.logo_img_only {
    width: 125px;
    display: inline-block;
    margin-right: 100px;
    animation: r1 3s linear infinite;
}
@keyframes r1 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}